<!doctype html>
<html>
	<% include ../layout/header.ejs %>
	<style type="text/css">
		a {
			text-decoration: none;
			color: #fff;
			font-size: 12px;
		}
		
		a:focus,
		a:hover {
			color: #fff;
		}
		
		#jOrgChart {
			margin-top: 40px;
		}
		/* 滚动条样式 */
		::-webkit-scrollbar {
			/*滚动条整体样式*/
			width: 10px !important;
			/*高宽分别对应横竖滚动条的尺寸*/
			background-color: rgba(0, 0, 0, 0)
		}
		.jOrgChart .node {
			width: 120px;
			height: 50px;
			line-height: 35px;
			border-radius: 4px;
			margin: 0 8px;
		}
		
		#jOrg {
			/*float: left;*/
			width: 100%;
			padding: 0px 20px;
		}
		
		#tab {
			width: 100%;
			/*float: right;*/
			padding: 0px 20px;
		}
		
		#tab>div {
			width: 100%;
		}
		
		.mail {
			min-height: 200px;
		}
		
		.blueline {
			border-bottom: 1px solid #b8ddf3;
			width: 100%;
			margin-bottom: 20px;
		}
		
		.blueline .title {
			background-color: #75bde6;
			color: white;
			padding: 6px 0px;
			width: 90px;
			text-align: center;
			font-size: 12px;
			border-radius: 8px 8px 0 0;
		}
		
		.layui-input-block {
			line-height: 36px;
		}
		/*数字框去除箭头*/
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
		    -webkit-appearance: none;
		}
		 
		input[type="number"] {
		    -moz-appearance: textfield;
		}
		/*组件/层压件材料信息*/
		.layui-tab-item .layui-form-label{
			padding-top: 0px;
		}
		.synchro{
			float: right;
			height: 28px;
		}
		.sampleNum{
			display: inline-block;
		}
		.selectedsample{
			display: inline-block;
			border: 1px solid #37a3dd;
			padding:3px 7px;
			border-radius: 5px;
			margin-left: 5px;
		}
	</style>
	<body>
		<div class="cBody">
			<div id="addForm" class="layui-form" action="">
				<div class="toolbtn">
					<div class="layui-btn layui-btn-sm return" onclick="golist()"><i class="iconfont icon-fanhui"></i>返回列表</div>
					<div class="layui-btn layui-btn-sm" data-type="assign"><i class="iconfont icon-xiafa"></i>下发</div>
					<%if(originalDataCheckInWay==2){%>
						<div class="layui-btn layui-btn-sm save <%if(testCourseContinued==true){%> layui-btn-disabled<%}%>" <%if(testCourseContinued==false){%>data-type="next"<%}%>><i class="iconfont icon-baocun"></i><%if(testCourseContinued==true){%>已经<%}%>跳过</div>
					<%}%>
					<!--<div class="layui-btn layui-btn-sm save" data-type="save"><i class="iconfont icon-baocun"></i>保存</div>-->
				</div>
				<div id="task">
					<div class="sampling">
						<div class="blueline">
							<div class="title"> 
								样品信息
							</div>
						</div>
						<div class="layui-form-item">
							<div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
								<label class="layui-form-label">分单号:</label>
								<div class="layui-input-block">
									<span><%=basicInfo.subTaskNumber%></span>
								</div>
							</div>
							<div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
								<label class="layui-form-label">是否加急:</label>
								<div class="layui-input-block">
									<span><%=basicInfo.prior?'是':'否'%></span>
								</div>
							</div>
							<div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
								<label class="layui-form-label">样品编号:</label>
								<div class="layui-input-block">
									<span><%=basicInfo.sampleNumber%></span>
								</div>
							</div>
						</div>
						<div class="layui-form-item">
							<div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
								<label class="layui-form-label">样品名称:</label>
								<div class="layui-input-block">
									<span><%=basicInfo.sampleName%></span>
								</div>
							</div>
							<div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
								<label class="layui-form-label">样品数量:</label>
								<div class="layui-input-block">
									<span><%=basicInfo.sampleCount%></span>
								</div>
							</div>
						</div>
					</div>
					<div class="entrust">
						<div class="blueline">
							<div class="title"> 
								委托信息
							</div>
						</div>
						<div class="layui-form-item">
							<div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
								<label class="layui-form-label">检测依据:</label>
								<div class="layui-input-block">
									<span><%=basicInfo.testStandard%></span>
								</div>
							</div>
							<div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
								<label class="layui-form-label">判定依据:</label>
								<div class="layui-input-block">
									<span><%=basicInfo.judgeStandard%></span>
								</div>
							</div>
							<div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
								<label class="layui-form-label">检测项目:</label>
								<div class="layui-input-block">
									<span><%=basicInfo.testProj%></span>
								</div>
							</div>
						</div>
						<div class="layui-form-item">
							<div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
								<label class="layui-form-label">要求完成日期:</label>
								<div class="layui-input-block">
									<span><%=basicInfo.completeDateLimit%></span>
								</div>
							</div>
							<div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
								<label class="layui-form-label">备注:</label>
								<div class="layui-input-block">
									<span><%=basicInfo.remark%></span>
								</div>
							</div>
						</div>
					</div>
					<%if(problem){%>
					<div class="entrust">
						<div class="blueline">
							<div class="title"> 
								驳回原因
							</div>
						</div>
						<div class="layui-form-item">
							<span><%=problem%></span>
						</div>
					</div>
					<%}%>
					<div class="equipment">
						<div class="blueline">
							<div class="title"> 
								设备信息
							</div>
						</div>
						<div class="table">
							<table class="layui-table" lay-filter="test" id="equipmentList">
							</table>  
						</div>
					</div>
					<div class="equipment">
						<div class="blueline">
							<div class="title"> 
								实际使用设备
							</div>
						</div>
						<div class="layui-btn-group demoTable">
							<button class="layui-btn layui-btn-sm" data-type="addEquipment"><i class="layui-icon layui-icon-add-1"></i>新增</button>
							<button class="layui-btn layui-btn-sm" data-type="delEquipment"><i class="layui-icon layui-icon-delete"></i>单次删除</button>
						  </div>
						<div class="table">
							<table class="layui-table" lay-filter="use" id="useequipment">
							</table>  
						</div>
					</div>
					<%if(originalDataCheckInWay!=3){%>
					<div class="record">
						<div class="blueline">
							<div class="title"> 
								原始记录
							</div>
						</div>
						<div class="toolbtn">
							<div class="layui-btn layui-btn-sm" data-type="uploadfile"><i class="iconfont icon-shangchuan"></i>上传文件</div>
						</div> 
						<div class="layui-form-item">
							<input type="hidden" name="json" value="<%=originalData%>">
						<!--    <iframe id="ifr_child" src="http://192.168.1.161:9059/admin/task/iframe.html" style="width: 100%;min-height: 400px"></iframe>-->
						    <iframe id="iframe" src="<%=templateUrl%>" style="width: 100%;min-height: 400px"></iframe>
						</div>
					</div>
					<%}%>
				</div>
			</div>
		</div>
		<shiro:hasRole name="superadmin">
			<script type="text/html" id="doit">
				<a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
			</script>
		</shiro:hasRole>
		<% include ../layout/footer.ejs %>
	</body>
	<script>
		var frame = document.getElementById('iframe')
		href("/modular_task/teststart", "任务管理", "检测开始","数据记录")
		var testCourseId='<%=testCourseId%>'
		var testItemWorkHour='<%=testItemWorkHour%>'
		layui.use(['form', 'table','laydate','jquery'], function() {
			var form = layui.form
			var table = layui.table
			var laydate=layui.laydate
			var $=layui.jquery
			$(".history").hover(function () {
				tips=layer.tips("点击查看调剂记录", this, {
					tips: [1, '#3595CC'],
					time: 0
				})
			},function () {
				layer.close(tips);
			})

			table.render({
				elem: '#equipmentList',
				url: '/modular_task/queryEquipmentUse?testCourseId='+testCourseId,
				cellMinWidth: 10,
				id:"equipmentList",
				page:false,
				even:true,
				cols: [[ //表头
					{field: 'sn', title: '序号', width: '7%', fixed: 'left'}
					, {field: 'name', title: '设备名称',templet:function(d){
							return d.mainEq ? '<span><div class="i" style="float: left;position: relative;margin-right: 10px;align-items: baseline">主</div>'+d.name+'</span>' : '<span>'+d.name+'</span>';
						}}
					, {field: 'number', title: '设备编号'}
					, {field: 'useCount', title: '占用容量'}
					, {field: 'startTime', title: '预计开始时间'}
					, {field: 'completeTime', title: '预计完成时间'}
					
				]],
				response: {
					statusCode: "ok" //重新规定成功的状态码为 200，table 组件默认为 0
				},
				parseData: function(res){ //将原始数据解析成 table 组件所规定的数据
					return {
						"code": res.status, //解析接口状态
						"msg": res.message, //解析提示文本
						"count": res.message.total, //解析数据长度
						"data": res.message.data //解析数据列表
					};
				},
				text: {
					none: '暂无相关数据！'//默认无数据
				},
			})
				table.render({
					elem: '#useequipment',
					url: '/modular_task/listActualTestCourseUseEquipment?testCourseId='+testCourseId,
					cellMinWidth: 10,
					page:true,
					cols: [
						[{checkbox: true},
						{
							field: 'sn',
							align: 'center',
							title: '序号',
						},{
							field: 'equipmentName',
							align: 'center',
							title: '设备名称',
						},{
							field: 'equipmentNumber',
							align: 'center',
							title: '设备编号',
						},{
							field: 'startTime',
							align: 'center',
							title: '开始时间',
						},{
							field: 'completeTime',
							align: 'center',
							title: '结束时间',
						},{
							field: 'useCount',
							align: 'center',
							title: '本次使用容量',
						},{
							field: 'sampleNumberStr',
							align: 'center',
							title: '样品编号',
						},{
							field: 'remark',
							align: 'center',
							title: '备注',
						},{
							align: 'center',
							title: '操作',
							toolbar: '#doit'
						}]
					],
					id:"tabReload",
					response: {
					statusCode: "ok" //重新规定成功的状态码为 200，table 组件默认为 0
					},
					parseData: function(res){ //将原始数据解析成 table 组件所规定的数据
					console.log(res)
					return {
						"code": res.status, //解析接口状态
						"msg": res.message, //解析提示文本
						"count": res.message.total, //解析数据长度
						"data": res.message //解析数据列表
						};
					},
					text: {
						none: '暂无相关数据！'//默认无数据
					},
				});
			table.on('tool(test)',function (obj) {
				if(obj.event==='saveTimeChange'){
					saveTimeChange(obj.data.id);
				}
			})
			function saveTimeChange(testCourseUseEquipmentId) {
				layer.open({
					type: 2,
					title:'调剂时间',
					area: ['80%', '80%'],
					content: '/modular_task/changeEquipmentUsage?testCourseUseEquipmentId='+testCourseUseEquipmentId,
					end :function f() {
						table.reload("equipmentList")
					}
				});
			}

			var ids=[]
			table.on('checkbox(use)', function(obj) {
				ids=[]
				var checkStatus = table.checkStatus('tabReload')
				,data = checkStatus.data;
				console.log(data)
				for(var i=0;i<data.length;i++){
					ids[i]=data[i].id
				}
				console.log(ids)
			});

			table.on('tool(use)', function(obj) {
				var data = obj.data;
				console.log(obj.data)
				if(obj.event === 'edit'){
					layer.open({
						type: 2,
						title:"编辑",
						area: ['80%', '80%'],
						content: "/modular_task/editequipment?testCourseId="+testCourseId+"&id="+data.id+"&equipmentId="+data.equipmentId+"&startTime="+data.startTime+"&completeTime="+data.completeTime+"&useCount="+data.useCount+"&sampleNumberStr="+data.sampleNumberStr+"&equipmentName="+data.equipmentName+"&equipmentNumber="+data.equipmentNumber+"&remark="+data.remark+"&testItemWorkHour="+testItemWorkHour+"&delayTime="+data.delayTime,
						end :function f() {
						table.reload("tabReload")
						}
					});
				}
			});

			var $ = layui.$,
				active = {
					uploadfile: function() { //上传文件
						layer.open({
							type: 2,
							title:"上传文件",
							area: ['800px', '500px'],
							content: '/modular_task/addfile?testCourseId='+testCourseId
						});
					},
					assign: function() { //下发
						var arr=[]
						arr.push(testCourseId)
						<%if(originalDataCheckInWay==3){%>
						layer.confirm("确认下发吗？",function () {
							$.ajax({
								type:"post",
								url:"/modular_task/forwardOriginalDataCheck",
								data:{
									testCourseId:testCourseId,
								},
								success:function(res){
									console.log(res)
									if(res.status=="ok"){
										alert(res.message)
										golist();
									}else{
										layer.msg(res.message,{icon: 5})
									}
								}
							});
						});
						<%}else{%>
						layer.open({
							type: 2,
							title:"选择人员",
							area: ['700px', '350px'],
							content: '/modular_task/assign?testCourseId='+arr
						});
						<%}%>

					},
					addEquipment:function(){
						layer.open({
							type: 2,
							title:"新增记录",
							area: ['80%', '80%'],
							content: "/modular_task/addequipment?testCourseId="+testCourseId+"&testItemWorkHour="+testItemWorkHour,
							end :function f() {
							table.reload("tabReload")
							}
						});
					},
					delEquipment:function(){
						//获取选中状态            
						if(ids.length == 0){
			                layer.msg('批量删除至少选中一项数据',function(){});
			                return false;
			            }
						console.log(ids)

			            layer.confirm('确定要删除选中的项吗？',function(index){
			                $.ajax({
			                    type:'post',
								dataType:"json",
			                    url:'/modular_task/removeActualTestCourseUseEquipment?recordIdArray='+ids+"&testCourseId="+testCourseId,
			                    success:function(data){
									console.log(data)
			                        if(data.status=="ok"){
										ids=[]
			                           table.reload('tabReload', {
											page: {
												curr: 1
											},
										});
			                         }
			                       layer.msg(data.message);
			                    },error:function(code){   
			                        parent.layer.msg('操作失败!',{icon: 5,time:1000});  
			                    }
			                });
			            })
					},
					next:function(){
						$.ajax({
							type: "GET",
							url: "/modular_task/continueCheckForward",
							data: {
								testCourseId: testCourseId,
							},
							success: function (msg) {
								console.log(msg)
								if (msg.status === 'ok') {
									alert(msg.message)
								} else {
									alert(msg.message);
								}
							}
						});
					},
					
				}
			$('.layui-btn').on('click', function() {
				var type = $(this).data('type');
				active[type] ? active[type].call(this) : '';
			});
		});
	</script>
	<!--获取和保存原始记录-->
	<script type="text/javascript">
		//新保存方式[使用中]
        //监听模块返回值
        window.addEventListener('message', function(event) {
			console.log(event)
            if (event.data.msg === "get") {
                //通知子集传递编辑数据
                PushTChild();
            }else if(event.data.msg==='sava'){
                //来源模版采集模块
                SaveJson(event.data.json);
            }else if (event.data.msg === 'setHeight') {
				frame.style.height = event.data.height+'px'
			}
        });
        //把编辑信息推给子级
        function PushTChild() {
            var json = $("input[name='json']").val();
            var myframe = document.getElementById('iframe');//获取iframe
            myframe.contentWindow.postMessage(
                {
                    msg: "edit",
                    json: json,
                },
                "<%=global.Record%>"
            );//协议+主机+端口号）
        }

        //异步保存
        function SaveJson(json) {
            var str = JSON.stringify(json);
            $.ajax({
                type: "POST",
                url: "/modular_task/saveOriginalRecord",
                data: {
                    testCourseId: '<%=testCourseId%>',
                    json: str,
                },
                success: function (msg) {
                	console.log(msg)
                    if (msg.status === 'ok') {
                        alert("已添加!")
                    } else {
                        alert(msg.message);
                    }
                }
            });
        }
	</script>
</html>