<!doctype html>
<html>
	<% include ../layout/header.ejs %>
	<style type="text/css">
		a {
			text-decoration: none;
			color: #fff;
			font-size: 12px;
		}
		
		a:focus,
		a:hover {
			color: #fff;
		}
		
		#jOrgChart {
			margin-top: 40px;
		}
		
		.jOrgChart .node {
			width: 120px;
			height: 50px;
			line-height: 35px;
			border-radius: 4px;
			margin: 0 8px;
		}
		
		#jOrg {
			/*float: left;*/
			width: 100%;
			padding: 0px 20px;
		}
		
		#tab {
			width: 100%;
			/*float: right;*/
			padding: 0px 20px;
		}
		
		#tab>div {
			width: 100%;
		}
		
		.mail {
			min-height: 200px;
		}
		
		.blueline {
			border-bottom: 1px solid #b8ddf3;
			width: 100%;
			margin-bottom: 20px;
		}
		
		.blueline .title {
			background-color: #75bde6;
			color: white;
			padding: 6px 0px;
			width: 90px;
			text-align: center;
			font-size: 12px;
			border-radius: 8px 8px 0 0;
		}
		
		.layui-input-block {
			line-height: 36px;
		}
		#task{
			width: 40%;
			float: left;
		}
		.reportpreview{
			width: 59%;
			float: right;
		}
		.webuploader-pick{
			background:#37a3dd;
			padding:0 10px;
			font-size:12px;
			
		}
	</style>
	<body>
		<div class="cBody">
			<form id="addForm" class="layui-form" action="">
				<div class="toolbtn">
					<div class="layui-btn layui-btn-sm return" onclick="golist()"><i class="iconfont icon-fanhui"></i>返回列表</div>
					<div class="layui-btn layui-btn-sm layui-btn-danger" data-type="reject"><i class="iconfont icon-jinggao"></i>驳回</div>
					<div class="layui-btn layui-btn-sm" data-type="assign"><i class="iconfont icon-xiafa"></i>下发</div>
					<div class="layui-btn layui-btn-sm" data-type="Seal">重新生成报告</div>
					<% if(sampleProblem) { %>
					<div class="layui-btn layui-btn-sm" data-type="abnormal">样品异常</div>
<!--					<div class="layui-btn layui-btn-warm layui-btn-sm" data-type="backToPlan">退回排程</div>-->
					<% } %>
				</div>
				<div id="task">
					<div class="reportlist">
						<div class="blueline">
							<div class="title"> 
								报告列表
							</div>
						</div>
						<div class="table">
							<div class="layui-btn-group demoTable">
								<div id="picker" style="float: right;"><i class="iconfont icon-shangchuan"></i>上传报告</div>
							</div>
							<table class="layui-table" lay-filter="tb">
								<thead>
								    <tr>
								      	<th>序号</th>
								      	<th>报告名称</th>
								      	<th>操作</th>
								    </tr> 
								</thead>
								<tbody>
								  	<%if(reportList.length>0){%>
								  		<%for(var i=0;i<reportList.length;i++){%>
								  			<tr>
								  			  	<td><input type="hidden" name="" id="" value="<%=reportList[i].reportId%>" /><%=reportList[i].sn%></td>
										      	<td><%=reportList[i].fileName%></td>
										      	<td>
										      		<%if(reportList[i].filePreviewUrl==""){%>
										      			<a class="layui-btn layui-btn-xs">转换中</a>
										      		<%}else{%>
											      		<a class="layui-btn layui-btn-xs" href="<%=reportList[i].filePreviewUrl%>" target="_blank">预览</a>
										      		<%}%>
										      		<a class="layui-btn layui-btn-xs" href="<%=reportList[i].fileUrl%>" download="">下载</a>
											      	<a class="layui-btn layui-btn-xs" onclick="del(this)">删除</a>
										      	</td>
										    </tr>
								  		<%}%>
								  	<%}%>
								</tbody>
							</table>  
						</div>
					</div>
					<div style="margin-bottom: 20px;margin-top: 20px">
						<div class="blueline">
							<div class="title">
								报告备注
							</div>
						</div>
						<div>
							<textarea id="reportRemark" class="layui-textarea" style="min-height: 100px;padding: 10px;font-size: 14px" placeholder="报告备注，供审核人员查看，选填"><%-reportRemark%></textarea>
						</div>
					</div>
					<div class="reportlist">
						<div class="blueline">
							<div class="title"> 
								审核列表
							</div>
						</div>
						<div class="table">
							<table class="layui-table" lay-filter="tb">
								<thead>
								    <tr>
								      	<th>序号</th>
								      	<th>审核意见</th>
								      	<th>审核人员</th>
								    </tr> 
								</thead>
								<tbody>
								  	<%if(reviewOpinionList.length>0){%>
								  		<%for(var i=0;i<reviewOpinionList.length;i++){%>
								  			<tr>
								  			  	<td><%=reviewOpinionList[i].sn%></td>
										      	<td><%=reviewOpinionList[i].opinion%></td>
										      	<td><%=reviewOpinionList[i].staffName%></td>
										    </tr>
								  		<%}%>
								  	<%}%>
								</tbody>
							</table>  
						</div>
					</div>
				</div>
				<div class="reportpreview">
					<div class="blueline">
						<div class="title"> 
							报告预览
						</div>
					</div>
					<div class="layui-form-item">
					<!--    <iframe id="ifr_child" src="http://192.168.1.161:9059/admin/task/iframe.html" style="width: 100%;min-height: 400px"></iframe>-->
					    <iframe id="iframe" src="<%=reportIframeUrl%>" style="width: 100%;min-height: 500px"></iframe>
					</div>
				</div>
			</form>
		</div>
		<% include ../layout/footer.ejs %>
	</body>
	<script>
	var FileList=[]
	var GUID = WebUploader.Base.guid(); //当前页面是生成的GUID作为标示
		console.log(GUID);
		var uploader = WebUploader.create({
			// swf文件路径
			swf: '../../../public/webuploader/Uploader.swf',
			// 文件接收服务端。
			server: '<%=global.base%>/admin/upload/upload',
			//分片处理大文件
			chunked: true,
			//上传并发数
			threads: 1,

			formData: {
				guid: GUID,
				fileType: "testCourse"
			},
			// 选择文件的按钮。可选。
			// 内部根据当前运行是创建，可能是input元素，也可能是flash.
			pick: {
				id: '#picker',
			},
			accept: {  
	            title: 'Files',  
	            extensions: 'pdf,docx',
	            mimeTypes: 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'  
	                       +',application/pdf'  
	       	},
			// 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
			resize: false,
			duplicate: true
		});
		uploader.on('fileQueued', function(file) {uploader.upload()});


	function uploadSubTaskReport(subTaskNumber,fileNames,fileUrl) {
		$.ajax({
			type: "GET",
			url: "/modular_task/uploadSubTaskReport",
			data: {
				subTaskNumber: subTaskNumber,
				name: fileNames,
				url: decodeURIComponent(fileUrl)
			},
			success: function (res) {
				console.log(res)
				if (res.status == "ok") {
					window.location.href = "/modular_task/writeSubTaskReport?subTaskNumber=" + subTaskNumber
				}
			}
		});
	}

	// 文件上传成功,合并文件。
		uploader.on('uploadSuccess', function(file, response) {
			console.log(file)
			console.log(response)
			var File = {}
			var fileType = file.ext;
			var fileNames = file.name.replace(/\s+/g, "");
			var fileUrl = encodeURIComponent(response.message.url)
			var id = file.id;
			var str
			if(fileNames.length > 8) {
				str = fileNames.substring(0, 7) + "..."
			} else {
				str = fileNames
			}
			var chunked = response.message.chunked
			if(chunked) {
				$.post("<%=global.base%>/admin/upload/mergeChunk", {
						fileType: "testCourse",
						fileName: file.name,
						id: file.id,
						totalSize:file.size
					},
					function(data) {
						console.log(data)
						if(data.status!="ok") {
							alert('文件合并失败！');
						} else {
							console.log(data.message)
							if (subTaskNumber != '') {
								uploadSubTaskReport(subTaskNumber,data.message.key,data.message.url);
							}
						}
					});
			} else {
				console.log(FileList)
				File.fileName = fileNames
				File.fileUrl =decodeURIComponent(fileUrl) 
				FileList.push(File)
				console.log(File)
				console.log(FileList)
				if (subTaskNumber != '') {
					uploadSubTaskReport(subTaskNumber,fileNames,fileUrl);
				}
			}
		});
		uploader.on('uploadError', function(file) {
			console.log("文件上传出错");
			$('#' + file.id).find('div.state').text('上传出错');
		});
</script>
	<script>
		href("/modular_task/reportwriting", "任务管理", "报告编写","编辑")
		var subTaskNumber=<%if(locals.subTaskNumber){%>'<%=subTaskNumber%>'<%}else{%>''<%}%>;
		var cnas=<%=cnas%>
		var cma=<%=cma%>
		var testSpec=<%=testSpec%>
		var reportTypeId="<%=reportTypeId%>"
		var reportTypeName="<%=reportTypeName%>"
		layui.use(['form', 'table','laydate','jquery'], function() {
			var form = layui.form
			var table = layui.table
			var laydate=layui.laydate
			var $=layui.jquery
			
			window.del=function(obj){
				var reportId=$(obj).parent().siblings().find("input").val()
				var reportIdArray=[]
				reportIdArray.push(reportId)
				$.ajax({
					url:'/modular_task/removeReport?reportIdArray='+JSON.stringify(reportIdArray),
					type:'GET',
					success:function(res){
						console.log(res)
						if(res.status=="ok"){
							layer.msg(res.message,{icon: 1})
							$(obj).parent().parent().remove()
						}
					}
				})
			}
			var $ = layui.$,
				active = {
					assign:function(){
						var arr=[]
						arr.push(subTaskNumber)
						layer.open({
							type: 2,
							title:"选择审核人员",
							area: ['800px', '250px'],
							content: '/modular_task/reviewSubStaff?subTaskNumber='+arr+ '&reportRemark=' + encodeURIComponent($("#reportRemark").val().replace(/\n/g,'&#10;'))
						});
					},
					reject: function(index,layero) { //报告签发
						layer.open({
							type: 2,
							title:"驳回",
							area: ['100%', '100%'],
							content: '/modular_task/subReject?subTaskNumber='+subTaskNumber
						});
					},
					Seal:function(){
						var seal=''
						if(cnas){
							seal+="cnas,"
						} 
						if(cma){
							seal+="cma,"
						}
						if(testSpec){
							seal+="testSpec,"
						}
						layer.open({
							type: 2,
							title:"选择印章",
							area: ['800px', '500px'],
							content: '/modular_task/subSeal?subTaskNumber='+subTaskNumber+'&reportTypeId='+reportTypeId+"&reportTypeName="+reportTypeName+"&seal="+seal
						});
					},
					abnormal:function () {
						layer.open({
							type: 2,
							title:"查看异常",
							area: ['80%', '80%'],
							content: '/modular_task/abnormal?subTaskNumber='+subTaskNumber
						});
					},
					// backToPlan:function () {
					// 	var confirmIndex=layer.confirm("确定要退回排程吗？<br/>注意：退回排程后，所有的分单都进入可排程状态。<br/>如果分单无需修改，请进入分单，点击排程结束。<br/>如果委托单无需修改，则进入委托办理页面，点击直送报告，则可以回到报告编辑状态", function () {
					// 		$.ajax({
					// 			url:'/modular_task/backToPlan?delegateNum='+delegateNum,
					// 			type:'GET',
					// 			success:function(res){
					// 				console.log(res)
					// 				if(res.status=="ok"){
					// 					layer.msg(res.message,{icon: 1})
					// 					layer.close(confirmIndex)
					// 					window.location.href = "/modular_task/reportwriting";
					// 				}
					// 			}
					// 		})
					// 	});
					// }
				}
			$('.layui-btn').on('click', function() {
				var type = $(this).data('type');
				active[type] ? active[type].call(this) : '';
			});
		});
		
	</script>
</html>